.card img{
    float: right;
    position: relative;
    margin-left: 20em;
}
.container {
    max-width: 90em;
    margin-top: 1.5rem;

}

#nav {
    margin-top: 3rem;
    padding-left:3rem;
    background-color: white;
}

a {
    color: inherit;
}

.red-border {
    border-color: #B22222;
}

.btn-danger{
    background-color: #B22222;
    color: white;
    padding:5em,5em;
}

.row-header {
    margin: 0px auto;
    padding: 0, 0;
}

.row-content {
    margin: 0px,auto;
    padding: 5em, 0em,0em,0em;
    border-bottom: 1px ridge;
    min-height: 10em;
}

.footer {
    padding-top: 5em;
    height: 30em;
    background-color: rgb(51, 62, 79);
    color: rgb(156, 169, 190);
    opacity: 0.9;
    margin: 7rem auto;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.jumbotron {
    margin: 0px auto;
    padding: 70px, 30px;
    margin-top: 0px;
    color: floralwhite;
    opacity: .9;
}

address {
    font-size: 80%;
    margin: 0px;
    color: rgb(156, 169, 190);
}

body {
    background-color: #f5f6f7;
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-light {
    background-color: #FFFF;
}

.nav-item {
    margin: 0em 1em;
}



.modal .modal-header {
    background: #512DA8;
    color: floralwhite;
}

.modal .modal-body {
    background: #D1C4E9;
}

.modal .close {
    color: floralwhite;
}

/*small screen*/

@media (max-width: 579px) {
    #category, #nav, #bottom {
        display: none;
    }

    #hidden-notify,#bottom2, #bottom2 .list-unstyled ul, #bottom2 .fa {
        
        bottom: 0px;
        align-content:center;
        align-items:center;
        justify-content:center;
    }
    #bottom2 .list-unstyled li {
            display: inline;
    }

    #myCarousel{
        margin-top: 7rem;
    }
    .footer{
        height: 40em;
        text-align: center;
    }
    .input-group{
        width: 80%;
        margin: 0em;
        padding-right: 0px;
    }
    .input-group-append{
        margin-right: auto;
        padding-left: 0px

    }
    .card h6,h5,p{
        font-size: 12px;
    }
    .card{
        max-height: 10em;
        overflow: hidden;
    }
    .card img{
        height: 15%;
    }
        

}

@media (max-width: 991.98px) {
    .row-content {
        min-height: 4em;
    }
}


/*on md-lg screen*/

@media (min-width: 580px) {
    #hidden-notify {
        display: none;
    }
    .float-right{
        display:none;
    }
    #myCarousel{
    
        min-height: 10em;
    }

}
