.modal{
    height: 100%;
    width: 350px;
    box-sizing: border-box;
    overflow-y:scroll;
    margin-top: 0px;
    left: 0px;

}
.modal-dialog{
    margin: 0px;
    height: 130%;
    overflow: wrap;
    padding-bottom: 0rem;
}
.modal-content{
    height: 100%;
}
.modal img{

    height: 4rem;
    width: 6rem;
}
.subdiv{
    position: relative;
    box-shadow: 0px 1px  #D5D8D5;
    margin-bottom: 2rem;
    padding: 0.75rem;
}
.flex-item{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options{
    margin-bottom: 2rem;
}
.lukao{
    z-index: 50;
    padding-left:1rem;
    padding-top: 1rem;

    
}

.card-left img{
    float: right;
    position: relative;
   
}
#prodetail img{
    padding-top: 15%;
     padding-left: 10%;
     padding-right: 10%;
     height: 80%;
     overflow: hidden;

}

a{
    color: inherit;
    position: relative;
    min-height: 0;
    padding: 0;
    margin:0;
}
#sideBar{
    border-style: ridge;
    background-color: white;
    margin-left:0;
    margin-top: 0; 
    height: 100%;
    width: 30%;
}
.container {
    max-width: 90em;
    margin-top: 1.5rem;
    margin-bottom: 1.3rem
}
.popver{
    width: 60rem;
    height: 40rem;
    padding: 4em;
}
.popover img{

    height: 100%;
    width: 60%;
}
#nav {
    margin-top: 3rem;
    padding-left:3rem;
    background-color: white;
}
#product{
        
    height: auto;
    padding: 0px;
    width: auto;
}
#prodetail .row{
min-height: 500px;

}

.red-border {
    border-color: #B22222;
}

.btn-danger{
    background-color: #B22222;
    color: white;
    padding:5em,5em;
}
.product-row{
    margin-right: 0.3em;
    margin-left: 0.3em;

}
.shop-row{
    margin-right: 0.2em;
}
.row-header {
    margin: 0px auto;
    padding: 0, 0;
}

#shops {
    margin-bottom: 1em;
    overflow: hidden;
    padding-right: 0px;
    border-bottom: 1px ridge;
    min-height: 7em;
    /*max-height: 20em;*/
}
#shops img{
    
    height: 100%;
    width: 100%;
}
.card-body{
    height: auto;
}
.footer {
    
    padding-top: 5em;
    height: 25em;
    background-color: rgb(51, 62, 79);
    color: rgb(156, 169, 190);
    opacity: 0.9;
    margin: 20px, 0px,0px,0px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.jumbotron {
    margin: 0px auto;
    padding: 70px, 30px;
    margin-top: 0px;
    color: floralwhite;
    opacity: .9;
}

address {
    font-size: 80%;
    margin: 0px;
    color: rgb(156, 169, 190);
}

body {
   
    background-color: #f5f6f7;
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-light {
    background-color: #FFFF;
}

.nav-item {
    margin: 0em 1em;
}

#product .card-img{
        height: 13%;
    }


/*small screen*/

@media (max-width: 579px) {
    #category, #nav, #bottom {
        display: none;
    }

    #hidden-notify,#bottom2, #bottom2 .list-unstyled ul, #bottom2 .fa {
        background-color: white;
        bottom: 0px;
        justify-content:center;
        padding-top: 0.5em;

    }
    #bottom2 .list-unstyled li {
            display: inline;
            padding: 2em;
    }

    #myCarousel{
        margin-top: 5rem;
    }
    #notificationbar
    {
        margin-top: 3.3rem;
        padding: 0rem;
    }
    .footer{
        height: 40em;
        text-align: center;
    }
    #shops{
        min-height: 3em;
    }
    #shops img{

        max-height: 4em;
        max-width: 100%;
        display: block;
        
    }
    .input-group{
        width: 80%;
        margin: 0em;
        padding-right: 0px;
    }
    .input-group-append{
        margin-right: auto;
        padding-left: 0px

    }
    h1,h2,h3,h4,h6,h5,p{
        font-size: 12px;
    }
    #product{
        max-height: 10em;
        overflow: hidden;
    }
    
        

}

@media (max-width: 991.98px) {
    .row-content {
        min-height: 4em;
    }
}


/*on md-lg screen*/

@media (min-width: 580px) {
    #hidden-notify {
        display: none;
    }
    .float-right,.lukao{
        display:none;
    }
    #myCarousel{
    
        min-height: 10em;
    }

}
